version: '2'

services:
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/html:/etc/nginx/html
    depends_on:
      - main
    networks:
      - app
  main:
    build: ../main
    ports:
      - "5488:5488"
    env_file: configuration.env
    volumes:
      - /tmp:/tmp
      - /var/run/docker.sock:/var/run/docker.sock
    container_name: main
    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "5"
    depends_on:
      - mongodb
    networks:
      - app

  sales:
    build: ../sales
    ports:
      - "1500:1500"
    env_file: configuration.env
    container_name: sales
    logging:
      driver: "json-file"
      options:
        max-size: "100k"
        max-file: "5"
    depends_on:
      - mongodb
    networks:
      - app

  mongodb:
    image: mongo:3.0.4
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - app

networks:
  app:
    driver: bridge
